<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Ordem de Serviço</title>

    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/7.0.1/css/all.min.css}" rel="stylesheet">
</head>

<body>
    <div class="container mt-4">
        <h1>
            <h1 class="mb-4"><a th:href="@{/ordensServico}"><i class="fa-solid fa-angle-left"></i></a>Criar Ordem de Serviço</h1>
        </h1>
    </div>

    <div class="container mt-3">
        <form id="form-nova-ordensServico">

            <div class="mb-3">
                <label class="form-label">Título:</label>
                <input type="text" class="form-control" name="titulo" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Descrição:</label>
                <textarea class="form-control" name="descricao" rows="3" required></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Data de Início:</label>
                <input type="date" class="form-control" name="dataInicio" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Data de Conclusão (prevista):</label>
                <input type="date" class="form-control" name="dataConclusao" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Status:</label>
                <select name="status" class="form-select" required>
                    <option value="PENDENTE">Pendente</option>
                    <option value="EM_ANDAMENTO">Em andamento</option>
                    <option value="CONCLUIDA">Concluída</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Local:</label>
                <input type="text" class="form-control" name="local" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Funcionários Responsáveis:</label>
                <select name="funcionariosIds" id="funcionariosIds" multiple class="form-select" style="max-width: 300px;">
                    <option th:each="f : ${funcionarios}" 
                            th:value="${f.id}" 
                            th:text="${f.nome}">
                    </option>
                </select>
                <small class="text-muted">Segure CTRL para selecionar múltiplos.</small>
            </div>

            <div class="mt-3">
                <button class="btn btn-primary" type="submit">Criar Ordem</button>
                <a th:href="@{/ordensServico}" class="btn btn-secondary">Cancelar</a>
            </div>

        </form>
    </div>

    <script th:src="@{/js/ordensServicoPages/nova.js}"></script>
</body>
</html>
