<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Evento</title>

    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/7.0.1/css/all.min.css}" rel="stylesheet">
</head>

<body>
    <div class="container mt-4">
        <h1><a th:href="@{/eventos}"><i class="fa-solid fa-angle-left"></i></a> Editar Evento</h1>
        <p class="text-muted" th:text="${evento.nome}"></p>
    </div>

    <div class="container mt-3">
        <form id="form-editar-evento" th:attr="data-id=${evento.id}">

            <div class="mb-3">
                <label class="form-label">Nome:</label>
                <input type="text" class="form-control" name="nome" th:value="${evento.nome}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Data:</label>
                <input type="date" class="form-control" name="data" th:value="${evento.data}">
            </div>

            <div class="mb-3">
                <label class="form-label">Capacidade:</label>
                <input type="number" class="form-control" name="capacidade" th:value="${evento.capacidade}">
            </div>

            <div class="mb-3">
                <label class="form-label">Tipo:</label>
                <input type="text" class="form-control" name="tipo" th:value="${evento.tipo}">
            </div>

            <div class="mb-3">
                <label class="form-label">Recintos:</label>
                <select class="form-select" name="recintosIds" multiple>
                    <option th:each="r : ${recintos}"
                            th:value="${r.id}"
                            th:text="${r.nome}"
                            th:selected="${evento.recintosIds.contains(r.id)}">
                    </option>
                </select>
            </div>

            <button class="btn btn-primary" type="submit">Salvar</button>
            <a th:href="@{/eventos}" class="btn btn-secondary">Cancelar</a>

        </form>
    </div>

    <script th:src="@{/js/eventosPages/editar.js}"></script>
</body>
</html>
