<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Evento</title>

    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/7.0.1/css/all.min.css}" rel="stylesheet">
</head>

<body>
    <div class="container mt-4">
        <h1><a th:href="@{/eventos}"><i class="fa-solid fa-angle-left"></i></a> Novo Evento</h1>
    </div>

    <div class="container mt-3">
        <form id="form-novo-evento">

            <div class="mb-3">
                <label class="form-label">Nome:</label>
                <input type="text" class="form-control" name="nome" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Data:</label>
                <input type="date" class="form-control" name="data" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Capacidade:</label>
                <input type="number" class="form-control" name="capacidade" min="1" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Tipo:</label>
                <input type="text" class="form-control" name="tipo" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Recintos:</label>
                <select class="form-select" name="recintosIds" multiple>
                    <option th:each="r : ${recintos}" th:value="${r.id}" th:text="${r.nome}"></option>
                </select>
                <small>Segure CTRL para selecionar múltiplos.</small>
            </div>

            <button class="btn btn-primary" type="submit">Criar Evento</button>
            <a th:href="@{/eventos}" class="btn btn-secondary">Cancelar</a>

        </form>
    </div>

    <script th:src="@{/js/eventosPages/novo.js}"></script>
</body>
</html>
